*{
    background-color: #ede0d4;
}

h1{
    color: #804f3b;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}

p{
    font-size: 50px;
    color: #804f3b;
    margin-left: 100px; 
}

.problem-statement{
    font-size: 30px;
    color: #804f3b;
    padding-right: 100px;
}

.proposed-solution{
    font-size: 30px;
    padding-right:100px;
}  

.img-holder-1{
    transform: rotate(90deg);
    height: 1000px;
    margin-left: 400px;
    aspect-ratio: 0.7;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    border-radius: 20px;
}

#img-holder-1{
    transform: rotate(0deg);
    height: 700px;
    width: 800px;
    margin-bottom: 20px;
    margin-left: 340px;
}

.img-holder-2{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.img-holder-2 img{
    height: 500px;
    width: 750px;
    padding: 10px;
    border-radius: 20px;
}

.img-holder-3{
    display: flex;
    margin: 0;
    padding: 0;
}

.img-holder-3 img{
    height: 500px;
    width: 800px;
    padding: 10px;
    border-radius: 20px;
}

.links{
    display: flex;
}

#github-link{
   margin-left: 300px;
}

a{
    font-weight: 800;
    text-decoration: none;
    color: #804f3b;
    font-size: 30px;
    margin: 50px 0 50px 400px;
    padding: 10px;
}

a:hover{
    color:#ede0d4;
    background-color: #804f3b;
    border-radius: 10px;
    transform: scale(1.3);
}
